---
# custom layout for lake items
layout: default
custom-foot: js/lake-mini-map.html 
---
<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} Items){% endif %}</div>
    <h2 class="mb-3">{{ page.title }} 
        <a href="#metadata" class="ms-5 btn btn-sm btn-outline-dark small">Lake Info 
            <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info">
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#arrow-down"/>
            </svg>
        </a>
    </h2>

    <div class="row justify-content-center">
        {% if page.latitude and page.longitude %}
        <div class="col-md-5">
            <div id="mini-map"></div>
            <a href="{{ '/map.html?location=' | append: page.latitude  | append: ',' | append: page.longitude | append: '&marker=' | append: page.objectid | relative_url }}" class="btn btn-outline-primary my-3">View on Full Map</a>
        </div>{% endif %}
        <div class="col-md-7">

            <div class="mb-4">

                <div id="metadata">
                {% include item/metadata.html %}
                </div>

            </div>

        </div>

        {% assign surveys = site.data.grebe-surveys-table | where: 'lakeid',page.objectid %}
        {% if surveys %}
        <div class="col-12 py-4">
            <div class="card">
                <div class="card-header">Survey Information</div>
                <div class="card-body">
                    <ul>
                        {% assign survey_fields = site.data.config-survey-fields %}
                        {% for s in surveys %}
                        <li>
                            {% for f in survey_fields %}{% if s[f.field] %}
                            <strong>{{ f.display_name }}:</strong>
                            {{ s[f.field] }}
                            {% unless forloop.last %}| {% endunless %}
                            {% endif %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            </div> 
        </div>
        {% endif %}
        
        {% assign sources = site.data.grebe-lake-sources | where: 'lakeid',page.objectid %}
        {% if sources %}
        <div class="col-12 py-4">
            <div class="card">
                <div class="card-header">Sources of Information</div>
                <div class="card-body">
                    <ul>
                        {% for s in sources %}
                        <li>
                            {% if s.citation %}{{ s.citation }}
                            {% elsif s.link %}<a href="{{ s.link }}">{{ s.title | default: s.link }}</a>
                            {% else %}{{ s.title }}{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
    {% include item/browse-buttons.html %}
    {%- endif -%}
</div>