/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
.navbar-brand { text-wrap: wrap; }
.cascade-contents {
    h1, h2, h3, h4, h5, h6 {
        max-width: 750px;
        margin: 1.5rem auto 1rem;
    }
    
    p, .about-narrowed-content, .footnotes, ol, ul, blockquote {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
    }

}